In [1]:
Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
you have collected data on the amount of time students spend studying for an exam and their final exam
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.
---------
In this case as the number of study hpurs will increase , the final exam marks will also increase.
Suppose: study hours are = [4,5,6,7,8]
exam marks = [80,85,87,89,97]

import pandas as pd

data = [[4,80], [5,85], [6,87],[7,89],[8,97]]
df = pd.DataFrame(data, columns=['Study Hours','Marks'])
print(df)

df.corr(method='pearson')

Here the study hours and marls ontained is potitively correlated.

   Study Hours  Marks
0            4     80
1            5     85
2            6     87
3            7     89
4            8     97

             Study Hours     Marks
Study Hours     1.000000  0.964579
Marks           0.964579  1.000000

In [2]:
'''Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
Suppose you have collected data on the amount of sleep individuals get each night and their overall job
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
variables and interpret the result.
-----------
lets suppose, Amount of sleep = [6,7,8,6,5] and satisfaction Level = [8,7,9,5,4]'''

import pandas as pd

data = [[6,8], [7,7], [8,9],[6,5],[5,4]]
df = pd.DataFrame(data, columns=['Sleep Hours','Satisfaction Level'])
print(df)

df.corr(method='spearman')

   Sleep Hours  Satisfaction Level
0            6                   8
1            7                   7
2            8                   9
3            6                   5
4            5                   4

                    Sleep Hours  Satisfaction Level
Sleep Hours            1.000000            0.820783
Satisfaction Level     0.820783            1.000000

In [28]:
'''Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
between these two variables and compare the results.
--------'''
import pandas as pd

data = []
df = pd.DataFrame(np.random.randint(10,40, size=(50,2)),columns=['Exercise Hours','BMI'])
print(df)

df.corr(method='spearman')

    Exercise Hours  BMI
0               12   25
1               31   38
2               21   39
3               19   25
4               27   31
5               32   10
6               26   39
7               13   14
8               13   38
9               15   11
10              33   38
11              18   38
12              37   31
13              21   33
14              23   15
15              30   16
16              34   30
17              29   31
18              32   36
19              11   25
20              10   38
21              35   33
22              23   30
23              20   26
24              28   22
25              10   36
26              21   29
27              24   26
28              39   35
29              27   34
30              30   13
31              23   23
32              37   13
33              33   32
34              39   38
35              38   26
36              13   21
37              32   27
38              17   13
39              38   10
40              24   17
41              14   12
42              30   21
43              32   23
44              22   16
45              30   15
46              20   12
47              14   17
48              18   22
49              21   26

                Exercise Hours       BMI
Exercise Hours        1.000000  0.103412
BMI                   0.103412  1.000000

In [30]:
'''Q4. A researcher is interested in examining the relationship between the number of hours individuals
spend watching television per day and their level of physical activity. The researcher collected data on
both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables.
-----------'''
import pandas as pd

df = pd.DataFrame(np.random.randint(0,10, size=(50,2)),columns=['TV Watching Hours','Physical Activity'])
print(df)

df.corr(method='spearman')

    TV Watching Hours  Physical Activity
0                   9                  2
1                   3                  5
2                   0                  9
3                   6                  9
4                   9                  1
5                   6                  3
6                   3                  0
7                   9                  1
8                   5                  8
9                   7                  6
10                  3                  9
11                  5                  9
12                  9                  0
13                  9                  2
14                  3                  8
15                  1                  1
16                  5                  1
17                  4                  7
18                  8                  3
19                  8                  8
20                  7                  8
21                  3                  0
22                  9                  8
23                  6                  6
24                  3                  5
25                  2                  0
26                  0                  9
27                  2                  8
28                  8                  0
29                  9                  0
30                  2                  7
31                  2                  1
32                  1                  4
33                  1                  0
34                  4                  7
35                  0                  1
36                  9                  5
37                  9                  3
38                  9                  2
39                  9                  6
40                  0                  5
41                  2                  6
42                  0                  2
43                  1                  5
44                  4                  1
45                  2                  2
46                  7                  4
47                  5                  6
48                  3                  0
49                  7                  6

                   TV Watching Hours  Physical Activity
TV Watching Hours           1.000000          -0.072809
Physical Activity          -0.072809           1.000000

In [32]:
'''Q5. A survey was conducted to examine the relationship between age and preference for a particular
brand of soft drink. The survey results are shown below:

Age(Years)    Soft drink Preference
25            Coke
42            Pepsi
37            Mountain dew
19            Coke
31            Pepsi
28            Coke

------------'''

import pandas as pd

data = [[25,'Coke'], [42,'Pepsi'], [37,'Mountain Dew'],[19,'Coke'],[31,'Pepsi']]
df = pd.DataFrame(data, columns=['Age','Soft Drink Preference'])
print(df)

from sklearn.preprocessing import LabelEncoder
lbl_encoder=LabelEncoder()

df['Soft Drink Preference']=lbl_encoder.fit_transform(df[['Soft Drink Preference']])

df.corr(method='spearman')

   Age Soft Drink Preference
0   25                  Coke
1   42                 Pepsi
2   37          Mountain Dew
3   19                  Coke
4   31                 Pepsi

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

                            Age  Soft Drink Preference
Age                    1.000000               0.790569
Soft Drink Preference  0.790569               1.000000

In [22]:
'''Q6. A company is interested in examining the relationship between the number of sales calls made per day
and the number of sales made per week. The company collected data on both variables from a sample of
30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.
----------'''

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(5,20, size=(30,2)),columns=['SalesCallPerDay','SalesPerWeek'])
print(df)

df.corr(method='pearson')

    SalesCallPerDay  SalesPerWeek
0                10             9
1                 5            14
2                16            16
3                12             9
4                 7            15
5                 5            14
6                13            11
7                12            16
8                17             8
9                17            18
10               19            12
11               19            10
12                9            19
13               13            15
14               18             7
15               16             5
16                8             8
17               10            19
18               17            15
19                7            13
20               10             9
21               10            13
22               14            18
23                9            18
24               11            17
25               12            14
26               17            12
27                7            10
28               14            13
29               17             5

                 SalesCallPerDay  SalesPerWeek
SalesCallPerDay         1.000000     -0.256136
SalesPerWeek           -0.256136      1.000000